body {
    background: linear-gradient(rgb(13, 23, 43), rgb(26, 43, 70));
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    color: #eee;
}

.titulo {
    font-size: 50px;
    animation: flipTitulo 3s;
}

.containerInput {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    margin: 34px 0;
    display: flex;
    border-radius: 8px;
    border-radius: 10px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

.containerInput input {
    background-color: transparent;
    border: 0;
    font-size: 20px;
    outline: none;
    color: #eee;
    margin-right: 8px;
}

.containerInput input::placeholder {
    color: #f1f1f1;
}

.bt-procurar {
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s;
}

.bt-procurar:hover {
    transform: scale(1.2);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
    width: 30%;
    border-radius: 10px;
}

.main h2 {
    margin: 16px 0;
    font-size: 25px;
    border-radius: 3px;
    padding-bottom: 1%;
    border-bottom: 3px solid lightblue;
}

.main span {
    margin-bottom: 16px;
    font-size: 20px;
}


@keyframes flipTitulo {
    from {
        transform: rotateY(90deg);
        opacity: 0%;
    }

    to {
        transform: rotateY(0deg);
        opacity: 100%;
    }
}

@media (max-width: 1040px) {
    .titulo {
        font-size: 40px;
    }

    .main {
        width: 100%;
    }

    .main span {
        font-size: 15px;
    }
}